<h1>Listas compra</h1>
<div class="d-flex justify-content-end mb-4">
    <a asp-action="Create" class="btn btn-outline-warning">Crear nuevo</a>
</div> 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Purchase purchase in Model)
        {
            <tr>
                <td>@purchase.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@purchase.Id" class="btn btn-sm btn-outline-success">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>