@using ComprASP.Data;

<h1>Mercados</h1>
<div class="d-flex justify-content-end">
    <a class="btn btn-outline-warning" asp-action="Create">Crear nuevo</a>    
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Market market in Model)
        {
            <tr>
                <td>@market.Name</td>
                <td>
                    <a class="btn btn-sm btn-outline-success" href="Edit/@market.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
